.card-front {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    margin: 50px auto;
}

@media only screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
    }
  }

.card-wrapper {
    position: relative;
    min-height: 350px;
    perspective: 2000px;
    perspective-origin: top;
}

.card-wrapper:hover .card {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
}

.card-front,
.card-back {
    position: absolute;
    height: 80%;
    width: 80%;
    padding: 30px;
    border-radius: 8px;
    backface-visibility: hidden;
}

.card-front img {
    width: 90%;
    height: 90%;
}

.card-back {
    background-color: orange;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}