.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}