:root {
    --main-size-scale: 1.5;
  }

.UAASelected {
    color: red;
    /*font-size: 120%;*/
}

img {
    width: 100px;
    transition: transform .5s;
}

ul {
    padding: 0;
}

@media only screen and (max-width: 600px) {
    /*footer {
        position: absolute;
        bottom: 0;
        /* on le colle en bas 
        width: 100%;
        height: 50px;
    }*/
}

li img:hover {
    -ms-transform: scale(var(--main-size-scale)); /* IE 9 */
    -webkit-transform: scale(var(--main-size-scale)); /* Safari 3-8 */
    transform: scale(var(--main-size-scale));
}